/* BASE LAYOUT FLEXBOX */

.rectangle,
.rectangle2 {
	margin-top: 20px;
	position: absolute;
	height: 1200px;
	width: 100%;
	background-color: #c6076f;
	z-index: -1;
	transform: skew(0deg, -3deg);
}
.rectangle2 {
	height: 100px;
	top: 1250px;
	z-index: 50;
}

.headerFull,
.info {
	display: flex;
	justify-content: space-evenly;
}

.headerFull {
	align-items: center;
	padding-top: 75px;
}

.headerTxt {
	padding-left: 100px;
}

.headerImg {
	width: 50%;
	display: flex;
}

.headerImg img {
	height: 300px;
}

.slider-frame {
	display: flex;
	justify-content: center;
	margin-top: 75px;
	width: 1200px;
	height: 600px;
	overflow: hidden;
	margin-bottom: 250px;
}

.slide-images {
	width: 8400px;
	display: flex;
	animation: 30s infinite slide;
	margin-left: 2400px;
}

.slide-images img {
	width: 1200px;
	height: 600px;
}

/*--------------------------------- SLIDE ANIMATION ------------------------*/
@keyframes slide {
	0% {
		transform: translateX(2400px);
	}
	10% {
		transform: translateX(2400px);
	}
	15% {
		transform: translateX(1200px);
	}
	25% {
		transform: translateX(1200px);
	}
	30% {
		transform: translateX(0);
	}
	40% {
		transform: translateX(0);
	}
	45% {
		transform: translateX(-1200px);
	}
	55% {
		transform: translateX(-1200px);
	}
	60% {
		transform: translateX(-2400px);
	}
	70% {
		transform: translateX(-2400px);
	}
	75% {
		transform: translateX(-3600px);
	}
	85% {
		transform: translateX(-3600px);
	}
	90% {
		transform: translateX(2400px);
	}
	100% {
		transform: translateX(2400px);
	}
}

.info {
	margin-top: 150px;
}

.infoImg {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	width: 23%;
	text-align: start;
}

.infoImg2 h3 {
	text-align: center;
	padding-top: 50px;
	height: 150px;
	background-color: #c6076f;
}

.shadow {
	color: #fff;
	box-shadow: -10px -10px #ff8ecc;
}

/*----------------------------------------------Main basic structure----------------------------------------------*/

.basic_structure_top,
.basic_structure_top_2 {
	background-color: #c6076f;
	width: 100%;
	height: 80px;
}

.basic_structure_top_2 {
	margin-bottom: 20px;
}

.basic_structure_top h2,
.basic_structure_top_2 h2 {
	padding-top: 10px;
	color: white;
	display: flex;
	justify-content: center;
}

.basic_structure_bottom {
	background-color: #c6076f;
	width: 100%;
	height: 80px;
	margin-top: 50px;
	transform: skew(0deg, -3deg);
}

/*----------------------------------------------Footer----------------------------------------------*/

footer {
	margin-top: auto;
}
.wrapper_footer {
	width: 1200px;
	margin: 5px auto;
}

.footer_row_one {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer_row_one img {
	width: 300px;
	display: flex;
}

.go_vlaams img {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: auto 0;
	height: calc(155px - 60px);
	width: 300px;
}

.go_vlaams {
	width: 33.33%;
	justify-content: flex-start;
	align-self: top;
}

.go_brussel img {
	display: flex;
	justify-content: center;
	height: calc(155px - 40px);
	width: 260px;
}
.go_brussel {
	display: flex;
	justify-content: center;
	width: 33.33%;
}

.smartschool img {
	height: calc(155px - 30px);
	width: 300px;
}

.smartschool {
	display: flex;
	width: 33.33%;
	justify-content: flex-end;
	align-self: center;
}

.footer_row_two {
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}

.footer_row_two div {
	flex: 1;
}

.footer_contact h3 {
	margin-bottom: 10px;
}

.footer_contact_contents {
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.footer_contact_contents img {
	width: 30px;
	padding-right: 15px;
}

.social_media_footer {
	display: flex;
	align-items: center;
}

.social_media_icons img {
	height: 80px;
	padding: 0 20px;
}

.social_media_icons {
	display: flex;
	justify-content: center;
	align-self: center;
}

.go_shapes img {
	height: 280px;
}

.go_shapes {
	display: flex;
	justify-content: flex-end;
	align-items: end;
}

.footer_socialmedia_text {
	display: none;
}

/*----------------------------------------------The GO----------------------------------------------*/

.theGo {
	padding-top: 10%;
	padding-bottom: 10%;
	width: auto;
	display: flex;
	text-align: center;
	justify-content: space-between;
}
.go {
	font-size: 25px;
	padding: 44px;
	border-radius: 35px;
	background-color: #c6076f;
	color: white;
	display: inline-block;
	justify-content: space-between;
}

.go:hover {
	font-size: 25px;
	padding: 44px;
	border-radius: 35px;
	background-color: #f3d8e5;
	color: black;
}

/*----------------------------------------------Wie is wie----------------------------------------------*/

.wieiswie_wrapper {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.wieiswie_wrapper h4 {
	margin-bottom: 0;
}

.wieiswie_wrapper p {
	margin-top: 10px;
}

.wieiswie_management {
	margin: 50px auto;
	display: flex;
	flex-direction: column;
}

.wieiswie_management_title {
	margin: 0 auto;
	width: 400px;
	height: 100px;
	background-color: #c6076f;
	box-shadow: -10px -10px #ff8ecc;
	display: flex;
	justify-content: center;
	color: white;
}

.wieiswie_management_info {
	margin: 0 auto;
	margin-top: 20px;
	width: 400px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.wieiswie_Begeleiders_info h4 {
	font-size: 16px;
}

.wieiswie_Begeleiders_info p {
	margin: 20px;
}

.personeelszaken_p {
	margin: 10px 0 !important;
}

.wieiswie_secretariat_title {
	margin: 0 auto;
	width: 1000px;
	height: 100px;
	background-color: #c6076f;
	box-shadow: -10px -10px #ff8ecc;
	display: flex;
	justify-content: center;
	color: white;
}

.wieiswie_secretariat_info {
	margin: 0 auto;
	margin-top: 20px;
	width: 1000px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.wieiswie_secretariat_info div {
	width: 125px;
}

.wieiswie_secretariat_info h4 {
	font-size: 16px;
}

.wieiswie_secretariat {
	margin-top: 50px;
}

.wieiswie_vakgroep_title {
	margin: 0 auto;
	width: 1000px;
	height: 100px;
	background-color: #c6076f;
	box-shadow: -10px -10px #ff8ecc;
	display: flex;
	justify-content: center;
	color: white;
}

.wieiswie_vakgroep_info {
	margin: 0 auto;
	margin-top: 20px;
	width: 1000px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.wieiswie_vakgroep_info div {
	width: 125px;
}

.wieiswie_vakgroep_info h4 {
	font-size: 16px;
}

.wieiswie_vakgroep {
	margin-top: 50px;
}

.wieiswie_foto {
	width: 80px;
}

.wieiswie_foto_parent {
	display: flex;
	justify-content: center;
}

/*----------------------------------------------Maximum Factuur----------------------------------------------*/

.factuur_wrapper {
	width: 1200px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.factuur_links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 50px 0;
	margin-bottom: 40px;
}

.factuur_links_block {
	width: 400px;
	display: flex;
	background-color: #c6076f;
	box-shadow: -10px -10px#ff8ecc;
	color: white;
	height: 100px;
	margin: 30px 10px;
	align-content: space-evenly;
}

.factuur_links_block h3 {
	margin: 0 auto;
	display: flex;
	align-items: center;
}

/*----------------------------------------------Infrastructuur----------------------------------------------*/

.infrastructuur_wrapper {
	display: flex;
	width: 1200px;
	flex-direction: column;
	margin: 50px auto;
}

.infrastructuur_block {
	display: flex;
	flex-direction: row;
	background-color: #c6076f;
	box-shadow: -10px -10px#ff8ecc;
	margin-bottom: 50px;
}

.infrastructuur_block p {
	color: #fff;
}

.infrastructuur_reverse {
	flex-direction: row-reverse;
}

.infrastructuur_block_img {
	width: 40%;
}
.infrastructuur_block_img img {
	width: 400px;
	margin: 20px;
}

.infrastructuur_block_text {
	display: flex;
	align-items: center;
	text-align: center;
	padding: 20px;
}

/*----------------------------------------------Social Media----------------------------------------------*/

.socialMedia {
	text-align: center;
}

.socialMedia .basic_blocks {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 50px auto;
}

.socialMedia .basic_block {
	padding: 5px;
	background-color: #c6076f;
	text-align: center;
	color: white;
	height: 30px;
	border-radius: 30px;
	width: 200px;
}

.socialMedia a {
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 20px;
	text-decoration: none;
}
.socialMedia a:hover {
	color: lightgray;
}

.socialMedia .basic_block:hover {
	background-color: #9b0552;
}

.advertisement {
	text-align: center;
	width: 400px;
	margin: 50px auto;
}

@media screen and (max-width: 640px) {
	.socialMedia .basic_blocks {
		flex-direction: column;
	}

	.socialeMdia .basic_blocks {
		width: 100%;
	}
}

@media screen and (min-width: 641px) {
	.socialMedia .basic_blocks {
		flex-direction: row;
		justify-content: center;
	}

	.socialMedia .basic_blocks {
		width: calc(50% - 20px);
	}
}
/*-------------------------------------------------Contact--------------------------------------------------*/

#map-container {
	flex: 1;
	position: relative;
	margin: 100px;
	width: 500px;
}

#map {
	width: 500px;
	height: 100vh;
	margin-right: 5px;
}

#info-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	margin-right: 5px;
}
.contact .basic_block {
	padding: 15px;
	flex: 2;
	margin-bottom: 50px;
	background: #c6076f;
	color: #fff;
	margin-top: 30px;
	box-shadow: -10px -10px #ff8ecc;
}
.contact .basic_block a {
	color: #fff;
}
.main_map {
	display: flex;
	flex-direction: row;
}

.info2 {
	margin-top: 10px;
	flex: 1;
}
h1 {
	margin-top: 0;
}

address {
	text-align: center;
	margin-bottom: 10px;
}

.PlanInfo .basic_block {
	background: #c6076f;
	width: 500px;
	height: 100px;
	text-align: center;
	margin-left: 50px;
	box-shadow: -10px -10px #ff8ecc;
}
.PlanInfo {
	margin-left: 100px;
	width: 800px;
}

.PlanInfo h4 {
	font-size: 50px;
	color: white;
}
.info h5 {
	font-size: 30px;
	margin-bottom: 20px;
}

.info2 {
	display: flex;
	flex-direction: column;
	margin-left: 105px;
}

#map-container {
	flex: 1;
	position: relative;
	margin: 100px;
	width: 500px;
}

@media (max-width: 460px) {
	#map-container {
		width: auto;
		margin: 10px;
	}

	#map {
		width: 100%;
		height: auto;
		margin-right: 0;
	}

	#info-container {
		margin-right: 0;
	}

	.main_map {
		flex-direction: column;
		align-items: center;
	}

	.contact .basic_block {
		width: 100%;
		margin: 10px 0;
	}

	.PlanInfo {
		margin-left: 10px;
		width: auto;
	}

	.PlanInfo .basic_block {
		width: 100%;
		margin-left: 0;
	}
}

/*----------------------------------------------Schoolregelement----------------------------------------------*/

.leefregels {
	margin: 30px;
}

.respect-welzijn {
	margin: 30px;
}

.communicatie-opvolging {
	margin: 30px;
}

.sancties {
	margin: 30px;
}

.box {
	margin: 100px;
	width: 500px;
	background-color: #c6076f;
	box-shadow: -10px -10px #ff8ecc;
	display: flex;
	justify-content: center;
	color: white;
}

.boxtwee {
	margin: 100px 700px;
	width: 700px;
	background-color: #c6076f;
	box-shadow: -10px -10px #ff8ecc;
	display: flex;
	justify-content: center;
	color: white;
}

.boxdrie {
	margin: 100px;
	width: 700px;
	background-color: #c6076f;
	box-shadow: -10px -10px #ff8ecc;
	display: flex;
	justify-content: center;
	color: white;
}

.boxvier {
	margin: 100px 700px;
	width: 700px;
	background-color: #c6076f;
	box-shadow: -10px -10px #ff8ecc;
	display: flex;
	justify-content: center;
	color: white;
}
.boxvijf {
	margin: auto;
	width: 700px;
	background-color: #c6076f;
	box-shadow: -10px -10px #ff8ecc;
	display: flex;
	flex-direction: column;
	text-align: center;
	color: white;
}
.fotovijf {
	display: flex;

	margin: auto;
}
.boxvijfwrapper {
	flex-direction: column;
	margin: auto;

	display: flex;
}
.fotovijf img {
	width: 200px;
}

/*----------------------------------------------Infoavond----------------------------------------------*/

.infonight_wrapper .basic_blocks {
	display: flex;
}
.infonight_wrapper .frame {
	width: 600px;
	margin: 100px;
	flex-direction: row;
}
.infonight_wrapper .basic_block {
	background-color: #c6076f;
	box-shadow: -10px -10px #ff8ecc;
	height: 100px;
	width: 400px;
	padding-left: 10px;
	padding-top: 5px;
	color: white;
}
.infonight_wrapper .TextBlok {
	margin-top: 30px;
	width: 500px;
}
.TextBlok h5 {
	margin-top: 20px;
	margin-bottom: 5px;
}
.TextBlok p {
	margin-bottom: 50px;
	width: 550px;
}

.frame img {
	margin-top: 100px;
}
.infonight_wrapper .basis_structuur_bottom {
	margin-top: 500px;
}
.Picture img {
	margin-top: 200px;
	width: 400px;
	height: auto;
}

@media (max-width: 460px) {
	.infonight_wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.infonight_wrapper .basis_structuur_wrapper {
		width: 90%;
		max-width: 400px;
		margin: 0 auto;
	}

	.infonight_wrapper .basic_blocks {
		flex-direction: column;
		align-items: center;
	}

	.infonight_wrapper .Kaders {
		width: 100%;
		max-width: 400px;
		margin: 10px 0;
	}

	.infonight_wrapper .basic_block {
		width: 100%;
		max-width: 300px;
	}

	.infonight_wrapper .TextBlok {
		width: 100%;
		max-width: 300px;
	}
	.infonight_wrapper .TextBlok p {
		max-width: 400px;
	}
	.infonight_wrapper .Kaders img {
		width: 100%;
		max-width: 300px;
		margin-top: 20px;
	}

	.infonight_wrapper .basis_structuur_bottom {
		margin-top: 20px;
	}
	.visie_blok_text {
		font-size: 15px;
		text-align: left;
		/*padding: 40px;*/
	}
	.visie_blok {
		margin: 0 auto;
		align-self: center;
		background-color: #c6076f;
		box-shadow: -10px -10px#ff8ecc;
		margin-bottom: 50px;
	}
}

/*--------------------------------------------------wanneer-------------------------------------------------*/

.wanneer {
	display: flex;
}

.wanneer .basic_blocks {
	display: flex;
	flex-direction: row;
}

.wanneer .Kaders {
	margin: 70px 200px;
	width: 600px;
}
.wanneer .basic_block {
	background-color: #c6076f;
	box-shadow: -10px -10px #ff8ecc;
	height: 100px;
	margin-top: 50px;
	width: 400px;
	padding-left: 10px;
	padding-top: 5px;
	color: white;
}

.wanneer .basis_structuur_bottom {
	margin-top: 800px;
}
.wanneer .basic_blocks img {
	width: 400px;
	height: auto;
}
@media (max-width: 460px) {
	.wanneer {
		flex-direction: column;
	}

	.wanneer .Kaders {
		margin: 20px;
		margin-left: -350px;
		width: 300px;
	}

	.wanneer .basic_blocks {
		flex-direction: column;
	}

	.wanneer .basic_block {
		width: auto;
		margin: 10px 0;
	}

	.wanneer .basic_blocks img {
		width: 300px;
		height: auto;
		margin-left: -300px;
	}

	.wanneer .basis_structuur_bottom {
		margin-top: 20px;
	}
	.wanneer .TextBlok {
		max-width: 300px;
	}
	.wanneer .TextBlok p {
		max-width: 400px;
	}
}

/*--------------------------------------------------Visie-------------------------------------------------*/

.visie_blok_text {
	font-size: 15px;
	color: white;
	text-align: start;
	padding: 40px;
}
.visie_blok {
	display: flex;
	flex-direction: row;
	background-color: #c6076f;
	box-shadow: -10px -10px#ff8ecc;
	margin-bottom: 50px;
}
