/* BUTTONS */

.btn-primary {
	padding: 10px;
	border-radius: 30px;
	background-color: #c6076f;
	color: white;
}

.btn-primary:hover {
	padding: 10px;
	border-radius: 30px;
	background-color: #f3d8e5;
	color: black;
}

.btn-top {
	position: fixed;
	margin-top: 700px;
	margin-left: calc(100vw - 10vw);
	z-homepage: 1000;
}

/*.btn-secondary {
}*/
