@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;700;900&display=swap");

.logo {
	display: flex;
	align-items: flex-start;
	margin-right: auto;
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 15px;
	height: 75px;
	width: auto;
}
.logo img {
	width: auto;
	height: 190px;
}

nav {
	animation: nav-load var(--nav-load-time) ease-in;
	background-color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	display: flex;
	justify-content: flex-end;
	position: fixed;
	width: 100%;
	z-index: 1000;
	margin-top: -85px;
	border-bottom: 4px solid #c6076f;
	right: 1;
	bottom: 1;
}

header {
	margin-bottom: px;
}

main {
	margin-bottom: 150px;
}

#main_home {
	margin-top: 150px;
}

#nav_home {
	border-bottom: 3px solid transparent;
	margin-top: -150px;
}

.triangel {
	border-top: 0 solid transparent;
	border-left: 100vw solid white;
	border-bottom: 100px solid transparent;
	height: 1px;
	width: 100%;
	position: fixed;
	margin-top: -14px;
	z-index: 51;
}

.navigation {
	display: flex;
	flex-direction: row;
	margin-right: 150px;
}
.dropdown {
	margin: 0 15px;
	position: relative;
	text-align: center;
	align-content: center;
	align-items: center;
	font-family: "Lexend", sans-serif;
	color: #c6076f;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	z-index: 1;
	width: 200px;
}
.dropdown-content a {
	color: #c6076f;
	font-weight: 400;
	font-size: 21px;
}
.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content a {
	padding: 12px 16px;
	display: block;
}

.dropdown-content a:hover,
.dropdown-content-2 {
	background-color: lightgray;
}

.dropdown img {
	display: block;
	margin-bottom: 5px;
	width: auto;
	height: 75px;
	margin-left: auto;
	margin-right: auto;
}

.dropdown-content-2 {
	display: none;
	background-color: #fff;
	width: 250px;
}

.hover-me:hover .dropdown-content-2 {
	position: absolute;
	display: block;
	margin-top: -48px;
	margin-left: 199px;
	border-radius: 5px;
	box-shadow: 0px 7px 100px #939393;
}

/*  hamburger */

.top-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	color: #fff;
	height: 50px;
	padding: 1em;
}

.menu {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu > li {
	margin: 0 1rem;
	overflow: hidden;
}

.menu-button-container {
	display: none;
	height: 100%;
	width: 30px;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#menu-toggle {
	display: none;
}

.menu li a {
	color: #fff;
}

.menu li {
	align-items: center;
}

.menu-button,
.menu-button::before,
.menu-button::after {
	display: block;
	background-color: #c6076f;
	position: absolute;
	height: 4px;
	width: 30px;
	transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
	border-radius: 2px;
}

.menu-button::before {
	content: "";
	margin-top: -8px;
}

.menu-button::after {
	content: "";
	margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
	margin-top: 0px;
	transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
	background: rgba(226, 108, 181, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
	margin-top: 0px;
	transform: rotate(-405deg);
}

.logoMobile {
	margin-left: -140px;
}

.logoMobile .logo img {
	height: 170px;
}

@media (max-width: 1200px) {
	.menu-button-container {
		display: flex;
	}
	.menu {
		position: absolute;
		top: 0;
		margin-top: 170px;
		left: 0;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
	}
	#menu-toggle ~ .menu li {
		height: 0;
		margin: 0;
		padding: 0;
		border: 0;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}

	#menu-toggle:checked ~ .menu li {
		border: 1px solid #bd1c5c;
		height: 2em;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	.menu > li {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 0.5em 0;
		width: 100%;
		color: white;
		background-color: #b34a74;
	}
	.menu > li:not(:last-child) {
		border-bottom: 1px solid #444;
	}
}
