/* BASE LAYOUT FLEXBOX */

body {
	margin: 0;
}

main {
	/*height: 600px;*/
	margin-bottom: 150px;
}

.rectangle,
.rectangle2 {
	position: absolute;
	height: 1400px;
	width: 100%;
	background-color: #c6076f;
	z-index: -1;
	transform: skew(0deg, -5deg);
}
.rectangle2 {
	height: 200px;
	width: 100%;
	top: 1325px;
	z-index: 99;
}

.headerFull,
.info {
	display: flex;
	justify-content: space-evenly;
}

.headerFull {
	align-items: center;
}

.headerTxt {
	padding-left: 100px;
}

.headerImg {
	height: 500px;
	width: 50%;
	display: flex;
	align-content: center;
}

.headerImg img {
	margin-top: 100px;
	height: 300px;
}

.info {
	margin-top: 150px;
	display: flex;
	justify-content: space-evenly;
}

.infoImg {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	height: 500px;
	background-color: aquamarine;
	width: 23%;
	text-align: start;
}

.infoImg2 h3 {
	text-align: center;
	padding-top: 50px;
	height: 150px;
	background-color: #c6076f;
}

.shadow {
	color: #fff;
	box-shadow: -10px -10px #ff8ecc;
}

.mainImg {
	background-image: url(/Proposal2/images/wideSchool.png);
	background-size: 1500px;
	height: 800px;
}

.even {
	display: flex;
	justify-content: space-evenly;
	align-items: end;
	height: 600px;
	text-align: center;
}

.even a {
	width: 200px;
}

@media screen {
	.wrapper {
		width: 1200px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 1200px) {
}

/*Footer*/

footer {
	margin-top: auto;
}
.wrapper_footer {
	width: 1200px;
	margin: 5px auto;
}

.footer_rij_één {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer_rij_één img {
	width: 300px;
	display: flex;
}

.go_vlaams img {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: auto 0;
	height: calc(155px - 70px);
}

.go_vlaams {
	width: 33.33%;
	justify-content: flex-start;
	align-self: center;
}

.go_brussel img {
	display: flex;
	justify-content: center;
}
.go_brussel {
	display: flex;
	justify-content: center;
	width: 33.33%;
}

.smartschool img {
	height: calc(155px - 30px);
}

.smartschool {
	display: flex;
	width: 33.33%;
	justify-content: flex-end;
	align-self: center;
}

.footer_rij_twee {
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}

.footer_rij_twee div {
	flex: 1;
}

.footer_contact h3 {
	margin-bottom: 0;
}

.footer_contact_inhoud {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.footer_contact_inhoud img {
	width: 30px;
	padding-right: 15px;
}

.social_media_footer {
	display: flex;
	align-items: center;
}

.social_media_iconen img {
	height: 80px;
	padding: 0 20px;
}

.social_media_iconen {
	display: flex;
	justify-content: center;
	align-self: center;
}

.go_vormen img {
	height: 280px;
}

.go_vormen {
	display: flex;
	justify-content: flex-end;
	align-items: end;
}
