.grid {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.grid-container-1 {
	display: grid;
	grid-template-columns: 300px 100px 100px;
	grid-template-rows: 70px 50px 50px;
	gap: 5px;
	background-color: #c67a9a;
	padding: 10px;
}

.grid-container-2 {
	display: grid;
	grid-template-columns: 300px 100px 100px 100px;
	grid-template-rows: 70px 50px 50px;
	gap: 5px;
	background-color: #c67a9a;
	padding: 10px;
}

.grid-container-1 > div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
}

.grid-container-2 > div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
}

.grid-container-1 .item3 h2,
.grid-container-2 .item3 h2 {
	margin-top: -10px;
	font-size: 25px;
}

.grid-container-1 h2,
.grid-container-2 h2 {
	margin-top: 0px;
	font-size: 30px;
}

.grid-container-1 h3,
.grid-container-2 h3 {
	margin-top: -5px;
	margin-bottom: -10px;
	font-size: 15px;
}

.grid-container-1 h4,
.grid-container-2 h4 {
	margin-top: -5px;
	margin-bottom: -10px;
	font-size: 20px;
	color: #c93170;
}

.graad-list {
	margin-left: 0px;
}

.graad-list li {
	margin-left: 100px;
}
/*
.item1 {
	grid-column-start: 1;
	grid-column-end: 4;
}
*/
