.grid {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.grid-container-1,
.grid-container-2,
.grid-container-3,
.grid-container-4,
.grid-container-5 {
	display: grid;
	gap: 5px;
	background-color: #c67a9a;
	padding: 10px;
	border-radius: 10px;
}

.grid-container-1 {
	grid-template-columns: 300px 100px 100px;
	grid-template-rows: 70px 50px 50px;
}

.grid-container-2 {
	grid-template-columns: 300px 100px 100px 100px;
	grid-template-rows: 70px 50px 50px;
}

.grid-container-3 {
	grid-template-columns: 400px 100px 100px 100px 100px 100px 100px 100px 100px;
	grid-template-rows: 70px 50px 50px 50px 50px 50px;
}
.grid-container-4 {
	grid-template-columns: 400px 150px 150px 150px 150px;
	grid-template-rows: 70px 50px 50px 50px 50px 50px;
}

.grid-container-5 {
	grid-template-columns: 400px 100px 100px 100px 100px 100px 100px 100px;
	grid-template-rows: 70px 50px 50px 50px 50px 50px;
}

.grid-container-1 > div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
	border-radius: 2px;
}

.grid-container-2 > div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
	border-radius: 2px;
}

.grid-container-3 > div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
	border-radius: 2px;
}
.grid-container-4 > div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
	border-radius: 2px;
}

.grid-container-5 > div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
	border-radius: 2px;
}

.grid-container-1 .item3 h2 {
	margin-top: -10px;
	font-size: 25px;
}

.grid-container-1 h2,
.grid-container-2 h2,
.grid-container-3 h2,
.grid-container-4 h2,
.grid-container-5 h2 {
	margin-top: 0px;
	font-size: 30px;
}

.grid-container-1 h3,
.grid-container-2 h3,
.grid-container-3 h3,
.grid-container-4 h3,
.grid-container-5 h3 {
	margin-top: -5px;
	margin-bottom: -10px;
	font-size: 15px;
}

.grid-container-1 h4,
.grid-container-2 h4,
.grid-container-3 h4,
.grid-container-4 h4,
.grid-container-5 h4 {
	margin-top: -5px;
	margin-bottom: -10px;
	font-size: 20px;
	color: #c93170;
}

.grid-container-3 .item1,
.grid-container-4 .item1,
.grid-container-5 .item1 {
	grid-row-start: 1;
	grid-row-end: 3;
}

.grid-container-3 .item2 {
	grid-column-start: 2;
	grid-column-end: 6;
}
.grid-container-4 .item2 {
	grid-column-start: 2;
	grid-column-end: 4;
}

.grid-container-5 .item2 {
	grid-column-start: 2;
	grid-column-end: 7;
}

.grid-container-3 .item3 {
	grid-column-start: 6;
	grid-column-end: 10;
}

.grid-container-4 .item3 {
	grid-column-start: 4;
	grid-column-end: 6;
}

.grid-container-5 .item3 {
	grid-column-start: 7;
	grid-column-end: 9;
}
