@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;700;900&display=swap");

.logo {
	display: flex;
	align-items: flex-start;
	margin-right: auto;
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 15px;
	height: 75px;
	width: auto;
}
.logo img {
	width: auto;
	height: 200px;
}

nav {
	width: auto;

	background-color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	display: flex;
	justify-content: flex-start;
	position: fixed;
	width: 100%;
	z-index: 1000;
	margin-top: -200px;
}

.navigation {
	display: flex;
	flex-direction: row;
	margin-right: 100px;
}

.dropdown {
	margin: 0 15px;
	position: relative;
	text-align: center;
	align-content: center;
	align-items: center;
	font-family: "Lexend", sans-serif;
	color: #c6076f;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	z-index: 1;
	width: 200px;
	text-align: left;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content a {
	padding: 12px 16px;
	display: block;
}

.dropdown-content a:hover {
	background-color: lightgray;
}

.dropdown img {
	display: block;
	margin-bottom: 5px;
	width: auto;
	height: 75px;
	margin-left: auto;
	margin-right: auto;
}
