/* BASE LAYOUT FLEXBOX */

body {
	margin: 0;
	height: 3000px;
}

main {
	height: 600px;
}

.rectangle,
.rectangle2 {
	position: absolute;
	height: 1400px;
	width: 100vw;
	background-color: #c6076f;
	z-index: -1;
	transform: skew(0deg, -5deg);
}
.rectangle2 {
	height: 200px;
	width: 100vw;
	top: 1250px;
	z-index: 99;
}

.headerFull,
.info {
	display: flex;
	justify-content: space-evenly;
}

.headerFull {
	align-items: center;
}

.headerTxt {
	padding-left: 100px;
}

.headerImg {
	height: 500px;
	width: 50%;
	display: flex;
	align-content: center;
}

.headerImg img {
	margin-top: 100px;
	height: 300px;
}

.info {
	margin-top: 150px;
	display: flex;
	justify-content: space-evenly;
}

.infoImg {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	height: 500px;
	background-color: aquamarine;
	width: 23%;
	text-align: start;
}

.infoImg2 h3 {
	text-align: center;
	padding-top: 50px;
	height: 150px;
	background-color: #c6076f;
}

.shadow {
	color: #fff;
	box-shadow: -10px -10px #ff8ecc;
}

.mainImg {
	background-image: url(/Proposal2/images/wideSchool.png);
	background-size: 1500px;
	height: 800px;
}

.even {
	display: flex;
	justify-content: space-evenly;
	align-items: end;
	height: 600px;
	text-align: center;
}

.even a {
	width: 200px;
}

@media screen {
	.wrapper {
		width: 1200px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 1200px) {
}
