/* TYPOGRAPHY */
@import url("https://use.typekit.net/kgk3svi.css");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;700;900&display=swap");

h1 {
	font-family: "Roboto", sans-serif;
	font-size: 94px;
}

h2 {
	font-family: "Roboto", sans-serif;
	font-size: 48px;
}

h3 {
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	font-size: 48px;
}

h4 {
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	font-size: 32px;
}

h5 {
}

h6 {
}

p {
	font-family: "Myriad", sans-serif;
	font-weight: 100;
	font-size: 21px;
}

a {
	font-family: "Myriad Pro", sans-serif;
	font-weight: bold;
	font-size: 21px;
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

li {
	font-family: "Myriad Pro", sans-serif;
	font-weight: 100;
	font-size: 21px;
}
